.ascii {
  font-family: monospace;
  white-space: pre;
}

.centeredascii {
  font-family: monospace;
  white-space: pre;
  text-align: center;
}

.inline {
    display: inline;
    text-align:center;
}